*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #f7f2ef;
}
nav {
  background-color: #f7f2ef;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  font-size: 1.3em;
  margin-top: 15px;
  /* background-color: #333; */
}

.navbar li a {
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.header {
  height: 110vh;
  /* background-image: url(img/bg.jpeg); */
  background-position: 0;
  background-color: #24221e;
  color: whitesmoke;

  /* flex-box */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  margin-bottom: 30px;
  margin-top: -10vh;
}
.header img {
  height: 65vh;
}
.header a {
  position: absolute;
  top: 85vh;
  left: 5vw;
  padding: 20px;
  font-size: 1em;
  color: whitesmoke;
  text-decoration: none;
}

.header-text-main {
  position: absolute;
  top: 50vh;
  font-size: 2em;
  text-align: center;
}
